# Frame

The client Frame component creates an iFrame and uses `controller.createFrame` which allows for plugin access.

## Installation

```svelte
<script>
  import Chemical from "chemicaljs/Chemical";
  import Frame from "chemicaljs/Frame";

  let ready = $state(false);
  let chemical = $state();
</script>

<Chemical bind:this={chemical} />
<Frame bind:ready bind:chemical src="https://www.example.com" />
```

## Go
```svelte
<script>
  import Chemical from "chemicaljs/Chemical";
  import Frame from "chemicaljs/Frame";

  let ready = $state(false);
  let chemical = $state();
  let frame = $state();

  function goToURL() {
    frame.go("https://example.com")
  }
</script>

<Chemical bind:this={chemical} />
<Frame bind:this={frame} bind:ready bind:chemical src="https://www.example.com" />
```

`[frame state].go()` also accepts options

```js
frame.go("https://example.com", {
  autoHttps: true, //Default false
  searchEngine: chemical.searchEngines.google, //Default blank
})
```

`autoHttps` adds `https://` if it is not included in the URL and it will become a valid URL

`searchEngine` is the search engine URL with `%s` in place of query

Built in search search engines
```bash
chemical.searchEngines.google
chemical.searchEngines.duckduckgo
chemical.searchEngines.bing
chemical.searchEngines.brave
chemical.searchEngines.yahoo
```

## Controls

Emulate browser controls for the Frame

```svelte
<script>
  import Chemical from "chemicaljs/Chemical";
  import Frame from "chemicaljs/Frame";

  let ready = $state(false);
  let chemical = $state();
  let frame = $state();
</script>

<Chemical bind:this={chemical} />
<button onclick={() => frame.reload()}>Reload</button>
<button onclick={() => frame.forward()}>Forward</button>
<button onclick={() => frame.back()}>Back</button>
<Frame bind:this={frame} bind:ready bind:chemical src="https://www.example.com" />
```

## Plugins

Choose from built in Scramjet plugins

```svelte
<Frame
  adblock={true}
  catchlinks={(url) =>
    new URL(`/?goto=${encodeURIComponent(url.href)}`, location.origin)}
  linkhandler={(url) => window.open("?url=" + encodeURIComponent(url))}
  cache={false}
  onchange={(url) => console.log("Frame URL changed to: " + url)}
  bind:ready
  bind:chemical
  src="https://www.example.com"
/>
```
