# URL

Generate a URL proxied with scramjet.

```svelte
<script>
  import Chemical from "chemicaljs/Chemical";

  let chemical = $state();
</script>

<Chemical
  bind:this={chemical}
  onready={() => console.log(chemical.url("https://example.com"))}
/>
```
