@import "tailwindcss";
@plugin "@tailwindcss/typography";

html {
  interpolate-size: allow-keywords;
}

code:not(pre code) {
  padding: 0.2em 0.4em;
  border-radius: 6px;
  font-weight: 600;
  font-size: 0.875em;
  background: var(--color-slate-800);
  font-weight: normal;
}

code::before,
code::after {
  content: "";
}

.shiki {
  background: var(--color-slate-800) !important;
}

details {
  @apply relative border-b border-slate-800;
  padding-bottom: 0;
  transition: padding-bottom 0.4s ease;

  &[open] {
    @apply pb-4;

    summary::after {
      rotate: 225deg;
    }

    &::details-content {
      block-size: auto;
    }
  }

  summary {
    @apply relative list-none py-4 hover:underline cursor-pointer;

    &::after {
      content: "";
      position: absolute;
      right: 8px;
      top: 50%;
      translate: 0 -50%;
      width: 6px;
      height: 6px;
      border-right: 2px solid currentColor;
      border-bottom: 2px solid currentColor;
      rotate: 45deg;
      transition: rotate 0.3s ease-in-out;
    }
  }

  &::details-content {
    @apply text-sm;

    block-size: 0;
    overflow: hidden;
    transition:
      block-size 0.4s ease,
      content-visibility 0.4s ease;
    transition-behavior: allow-discrete;
  }
}

.prose a {
  font-weight: normal;
}
