# Client Setup

The client Svelte component sets up the service worker, transports, core Chemical functions.

## Installation

```svelte
<script>
  import Chemical from "chemicaljs/Chemical";
</script>

<Chemical />
```

## Using in layout

The most common way to use Chemical is adding it to your main layout file so it runs on every page. Use `setContext` to access ready state and chemical functions in other pages.

+layout.svelte
```svelte
<script>
  import Chemical from "chemicaljs/Chemical";
  import { setContext } from "svelte";

  let { children } = $props();

  let chemState = $state({
    ready: false,
    instance: null,
  });

  setContext("chemState", chemState);
</script>

<Chemical bind:this={chemState.instance} bind:ready={chemState.ready} />
{@render children()}
```

+page.svelte
```svelte
<script>
  import Frame from "chemicaljs/Frame";
  import { getContext } from "svelte";

  let chemState = getContext("chemState");
</script>

<Frame
  src="https://www.example.com"
  bind:ready={chemState.ready}
  bind:chemical={chemState.instance}
></Frame>
```
