# Vite Plugin

Use Chemical in your Vite developement server

Add the Chemical Vite plugin in your vite configuration file `vite.config.js` or `vite.config.ts`

```js
import { defineConfig } from "vite"
import { ChemicalVitePlugin } from "chemicaljs"

export default defineConfig({
    plugins: [ChemicalVitePlugin()],
})
```