# Fetch

Polyfill for native fetch using the current transport.

```svelte
<script>
  import Chemical from "chemicaljs/Chemical";

  let chemical = $state();

  async function fetchContent() {
    await chemical.fetch("https://example.com")
  }
</script>

<Chemical bind:this={chemical} />
```
