# Transport

Change the transport between `epoxy` (default) and `libcurl`.

```svelte
<script>
  import Chemical from "chemicaljs/Chemical";

  let transport = $state("epoxy");
</script>

<Chemical bind:transport />
```
