---
import Layout from "../layouts/Layout.astro";
import { buttonVariants } from "@/components/ui/button";
import { Text } from "@/components/ui/text";
import {
	Card,
	CardDescription,
	CardHeader,
	CardTitle,
} from "@/components/ui/card";
import {
	ZapIcon,
	ToolIcon,
	CodeIcon,
	ArchiveIcon,
	TerminalIcon,
} from "astro-feather";
---

<Layout title="Chemical">
	<div class="flex flex-col gap-24 py-24">
		<div class="flex flex-col items-center">
			<Text element="h1" as="h1">Chemical</Text>
			<Text element="p" as="p"
				>Easily create your own web proxy with no experience required.</Text
			>
			<a
				class={buttonVariants({ variant: "secondary" }) + " mt-6"}
				href="/docs/introduction/get-started">Get Started</a
			>
		</div>
		<div class="flex flex-wrap justify-center gap-4">
			<Card>
				<CardHeader>
					<div
						class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors border border-input bg-background h-10 w-10 mb-2"
					>
						<ZapIcon size={16} />
					</div>
					<CardTitle>Easy Setup</CardTitle>
					<CardDescription
						>Takes care of setting up everything normally involved with a proxy.</CardDescription
					>
				</CardHeader>
			</Card>
			<Card>
				<CardHeader>
					<div
						class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors border border-input bg-background h-10 w-10 mb-2"
					>
						<ToolIcon size={16} />
					</div>
					<CardTitle>Advanced Custimization</CardTitle>
					<CardDescription
						>Choose from multiple proxies and transports.</CardDescription
					>
				</CardHeader>
			</Card>
			<Card>
				<CardHeader>
					<div
						class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors border border-input bg-background h-10 w-10 mb-2"
					>
						<CodeIcon size={16} />
					</div>
					<CardTitle>Vite Plugin</CardTitle>
					<CardDescription
						>Test proxies in development with the Chemical Vite plugin.</CardDescription
					>
				</CardHeader>
			</Card>
			<Card>
				<CardHeader>
					<div
						class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors border border-input bg-background h-10 w-10 mb-2"
					>
						<ArchiveIcon size={16} />
					</div>
					<CardTitle>Reduce Clutter</CardTitle>
					<CardDescription
						>No more clutter normally included with setting up a proxy.</CardDescription
					>
				</CardHeader>
			</Card>
			<Card>
				<CardHeader>
					<div
						class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors border border-input bg-background h-10 w-10 mb-2"
					>
						<TerminalIcon size={16} />
					</div>
					<CardTitle>Build Assets</CardTitle>
					<CardDescription
						>Build all Chemical assets for static hosting.</CardDescription
					>
				</CardHeader>
			</Card>
		</div>
		<div class="flex flex-col justify-center items-center">
			<Text className="text-center border-0" element="h2" as="h2"
				>Made With Chemical</Text
			>
            <p>Check out these amazing projects that use Chemical.</p>
            <a
				class={buttonVariants({ variant: "outline" }) + " mt-6"}
				href="/showcase">See Showcase</a
			>
		</div>
	</div>
</Layout>

<style>
	a:hover {
		text-decoration: none;
	}
</style>
