---
import { Text } from "@/components/ui/text";
import { Badge } from "@/components/ui/badge";
import { buttonVariants } from "@/components/ui/button";
import { GithubIcon } from "astro-feather";
---

<nav class="sticky top-0 right-0 left-0 backdrop-blur-md flex justify-between items-center py-4 border-b border-border">
	<div class="flex justify-center items-center gap-2">
		<Text element="h3" as="h3" className="font-bold">Chemical</Text>
		<Badge variant="outline">v1.6.6</Badge>
	</div>
	<div class="flex justify-center items-center gap-8">
		<a href="/">Home</a>
		<a href="/docs/introduction/get-started">Documentation</a>
        <a href="/showcase">Showcase</a>
		<a href="/credits">Credits</a>
	</div>
	<div class="w-[158.667px] flex justify-end items-center gap-4">
		<a
			class={buttonVariants({ variant: "outline", size: "icon" })}
			href="https://github.com/chemicaljs/chemical"
			><GithubIcon size={16} />
		</a>
	</div>
</nav>
