# Basic Example

A simple example using Chemical

## Setup

Clone the GitHub repo.

```bash
git clone https://github.com/chemicaljs/basic-example.git
```

Next, `npm install` to install dependencies.

Finally `npm start` to start the app on `localhost:3000`.

## License

Basic Example uses the AGPL 3.0 license