---
import "../styles/global.css";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Easily create your own web proxy with no experience required."
		/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
	</head>
	<body class="min-h-[100vh] flex flex-col">
		<Navbar />
		<main class="px-8">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style is:global>
	a:hover {
		text-decoration: underline;
	}
</style>
