# Fancy Example

An advanced example using Chemical

## Setup

Clone the GitHub repo.

```bash
git clone https://github.com/chemicaljs/fancy-example.git
```

Next, `npm install` to install dependencies.

Finally `npm start` to start the app on `localhost:3000`.

## License

Fancy Example uses the AGPL 3.0 license